@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext');

@import "tailwindcss/base";

@import "style.pcss";

@import "tailwindcss/components";

@import "tailwindcss/utilities";